.weather-box{
  text-align: center;
}

.weather-box img{
  width: 60%;
  margin-top: 30px;
}

.weather-box .temperature{
  position: relative;
  color: black;
  font-size: 4rem;
  font-weight: 800;
  margin-top: 30px;
  margin-left: -16px;
}


.weather-box .description {
  color: black;
  font-size: 22px;
  font-weight: 500;
  text-transform: capitalize;
}

.weather-box .location {
  color: black;
  font-size: 22px;
  font-weight: 500;
  text-transform: uppercase;
}
