.wind{
  display: flex;
  align-items: center;
  width: 50%;
  height: 100px;
}

.wind i{
  color: black;
  font-size: 26px;
  margin-right: 20px;
  margin-top: 6px;
}

.wind span{
  color: black;
  font-size: 22px;
  font-weight: 500;
}

.wind p{
  color: black;
  font-size: 14px;
  font-weight: 500;
}
