<div class="container">
  <app-search-geo (searchQuery)="performSearch($event)"></app-search-geo>
  <app-error-location *ngIf="(isError$ | async)"></app-error-location>
  <ng-container *ngIf="!(isError$ | async)">
    <ng-container *ngIf="(result$ | async) as res">
      <app-weather [temperature]="res.main.temp" [weather]="res.weather[0].main" [description]="res.weather[0].description" [location]="res.name"></app-weather>
      <app-indicators ></app-indicators>
    </ng-container>
  </ng-container>
</div>

